h1{
	color: blue;
    background-color: #ff99ff;
    border-style: dashed;
    border-width: 12px;
    border-color: yellow;
    margin: 100px 10px 130px 170px;
    text-align: center;
    font-family: monospace;
    font-style: italic;
}
h2{
	color: rgb(255, 0, 0);
	margin: 90px 100px 230px 80px;
    text-shadow: 1px 1px yellow;
}

h3{
	font-size: 14px;
	color: 
}
body {
    background-color: #33FFCC;
}